html{
    box-sizing: border-box;
}
*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
          box-sizing: inherit; 
        
}
h1, h2, h3, h4, h5, h6{
    font-weight: 600;
}
html,
body {
    scroll-behavior: smooth;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #424467;
    font-size: 18px;
    line-height: 1;
    font-weight: 400;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
a {
    text-decoration: none;
    color: inherit; 
}
ul {
    list-style: none;
}
button {
    font-family: "Manrope", sans-serif;
    background-color: transparent;
    border: none;
    padding: 0;
}
.container{
    max-width: 1640px;
    padding: 0 20px;
    margin: 0 auto;
}
.header {
    z-index: 3;
}
.header__inner {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}
.header__logo img,
.footer__logo img{
    height: 80px;
}
.header__logo-mobile,
.footer__logo-mobile{
    display: none;
}
.header__logo-mobile img,
.footer__logo-mobile img{
    height: 50px;
}
.menu {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
}
.menu__btn{
    display: none;
    width: 40px;
    height: 20px;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
    position: relative;
}
.menu__btn span{
    height: 2px;
    width: 100%;
    background-color: #424467;
}
.menu__list {
    display: flex;
    align-items: center;
    gap: 30px;
    z-index: 3;
}
.menu--close{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    transition: background-color .6s ease;
}
.menu--close.menu--open{
    display: block;
}
.menu__close {
    display: none;
}
.menu__link {
	position: relative;
	font-size: 20px;
	text-decoration: none;
    color: #ffffff;
}

.menu__link::before {
	content: '';
	position: absolute;
	left: 0; bottom: -5px;
	width: 0;
	height: 1.5008px;
	background-color: #424467;
}

.menu__link:hover:before {
	width: 100%;
}

.menu__link::before {
	transition: width 0.35s;
}
#upBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
}

.top{
    background-image: url(../images/top-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 100vh;
    margin-top: -100px;
}
.top__title{
    padding-top: 150px;
    font-weight: 700;
    font-size: 72px;
    color: #ffffff;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    
}
.top__text{
    color: #ffffff;
    font-size: 28px;
    text-align: center;
}
.scroll {
    width: 70px;
    position: absolute;
    bottom: 20px;
    left: 0;
    z-index: 1;
    padding-bottom: 20px;
    text-align: center;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.scroll-img {
    width: 80px;
}
.video_preview{
    display: none;
}

.section-padding{
    padding: 50px 0;
}
.section-title{
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 25px;
}
.projects__list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.projects__item{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    font-size: 16px;
}
.projects__item-content{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.projects__img{
    width: 320px;
    height: 280px;
    object-fit: cover;
}
.projects__item-title{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}
.projects__item-text{
    margin-bottom: 15px;
}
.projects__item-btn{
    width: 68px;
    margin-top: auto;
    background-color: #424467;
    color: #ffffff;
    border-radius: 10px;
    padding: 10px 15px;
}
.services{
    background-color: rgb(66, 68, 103, 0.2);
}
.services__inner{
    padding: 0 50px;
}
.services__about{
    text-align: center;
    margin-bottom: 25px;
}
.services__item{
    background-color: #ffffff;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 25px;
}
.services__subtitle{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}
.services__text{
    /* margin-bottom: 20px; */
}
.about__text{
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 25px;
}
.partners{
    background-color: rgb(66, 68, 103, 0.2);
}
.partners__inner{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.contacts__inner{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.contacts__inner img{
    width: 50px;
}
.footer{
    padding: 30px 0;
    margin-top: auto;
}
.footer__logo{
    display: flex;
    justify-content: center;
}
/*******ПРОЕКТЫ*******/
.project__menu-link{
    color: #424467;
}

.project__top-img{
    max-width: 80%;
    display: block;
    margin: 0 auto 40px;
}
.project__text{
    font-size: 18px;
    line-height: 1.3;
}
.project__text + .project__text{
    margin-top: 20px;
}
.gallery__title{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    text-align: center;
}
.gallery__items{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.gallery__item{
    width: 100%;
}
.gallery__item-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/******* АДАПТИВ*******/
@media(max-width: 1440px) {
    .projects__img{
        width: 280px;
        height: 210px;
    }
}

@media(max-width: 1280px) {
    .top__title{
        font-size: 60px;
    }
    .projects__item-text{
        font-size: 14px;
    }
    .services__text,
    .about__text {
        line-height: 1.3;
        font-size: 16px;
    }
}

@media(max-width: 1120px) {
    .menu__list{
        transform: translateY(-100%);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        width: 480px;
        margin: 0 auto;
        background-color: #ffffff;
        color: #424467;
        display: block;
        text-align: center;
        padding: 80px 0;
        transition: transform .6s ease;
        gap: 40px 0;
    }
    .menu__list.menu--open{
        transform: translateY(0);
    }
    .menu__close-btn{
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .menu__item{
        margin-top: 40px;
        margin-bottom: 30px;
    }
    .menu__link{
        font-size: 25px;
        color: #424467;
    }
    .menu__link::before {
        background-color: #424467;
    }
    .menu__btn{
        display: flex;
    }
    .menu__close{
        display: block;
    }
    .projects__img{
        width: 200px;
        height: 150px;
    }
    .partners__inner{
        gap: 20px;
    }
}

@media(max-width: 1024px) {
    .gallery__items{
        flex-wrap: wrap;
    }
    .gallery__item{
        width: 40%;
    }
}

@media(max-width: 940px) {
    .projects__img{
        width: 160px;
        height: 120px;
    }
    .partners__img{
        width: 70px;
    }
}

@media(max-width: 768px) {
    .projects__list{
        display: flex;
        flex-direction: column;
    }
    .projects__item{
        gap: 20px;
        font-size: 16px;
    }
    .projects__item-text{
        text-align: justify;
    }
    .projects__img{
        width: 240px;
        height: 180px;
    }
    .services__inner{
        padding: 0 10px;
    }
    .partners__inner{
        gap: 15px;
    }
    .partners__img{
        width: 50px;
    }
    .project__text{
        font-size: 16px;
    }
}

@media(max-width: 560px) {
    #upBtn {
        display: none;
        position: fixed;
        bottom: 5px;
        right: 5px;
        z-index: 99;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 10px;
    }
    .menu__list{
        width: 400px;
    }
    .top__title{
        font-size: 50px;
    }
    .projects__item{
        font-size: 14px;
    }
    .projects__item-btn{
        display: none;
    }
    .projects__img{
        width: 200px;
        height: 150px;
    }
    .partners__inner{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px 10px;
    }
    .partners__img{
        margin: 0 auto;
        width: 50px;
    }
    .project__top-img{
        max-width: 100%;
    }
}

@media(max-width: 480px) {
    .section-title{
        font-size: 30px;
    }
    .header__logo,
    .footer__logo{
        display: none;
    }
    .header__logo-mobile,
    .footer__logo-mobile{
        display: block;
        text-align: center;
    }
    .menu__list{
        width: 300px;
    }
    .top__title{
        font-size: 40px;
    }
    .top__text{
        font-size: 20px;
    }
    .projects__list {
        gap: 20px;
    }
    .projects__img{
        width: 100%;
        height: auto;
        padding: 0 20px;
    }
    .projects__item{
        flex-direction: column;
    }
    .projects__item-title{
        font-size: 18px;
        text-align: center;
    }
    .project__text{
        font-size: 14px;
    }
}

@media(max-width: 360px) {
    .menu__list{
        width: 280px;
    }
    .services__inner{
        padding: 0;
    }
    .services__text,
    .about__text {
        font-size: 14px;
    }
}